
<form action="https://getform.io/f/5b19ab07-e111-435d-a240-d36d639254dc" method="POST" class="contact">
  <label>Name</label>
  <input type="text" name="name" required>
  <label>Email</label>
  <input type="email" name="email" required>
  <label>Message</label>
  <textarea name="message" required></textarea>
  <button type="submit">Send</button>
  <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
  <input type="hidden" name="_gotcha" style="display:none !important">
  <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LeHjm8pAAAAAPQvhyaXByAgDCcUKHDo3uDlwp-M', {action: 'homepage'})
        .then(function(token) {
          document.getElementById('captchaResponse').value = token;
        });
      });
 </script>
</form>
