
html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.6;
  font-size: 16pt;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12pt;
  }
}

a {
  color: inherit;
}

hr {
  height: 3px;
  background: #eee;
  border: none;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h4 {
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 0px;
}

h4 + p {
  margin-top: 0;
}

hr {
  height: 1px;
}

.wrap {
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
  overflow-x: auto;
  padding: 30px;
  overflow: visible;
}

header {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  header {
    margin-top: 0;
    border-radius: 0;
  }
}

/* ========================= Header ========================= */

nav {
  font-family: 'Jost', sans-serif;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 5px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 200;
  max-width: 700px;
  margin: 0 auto;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 5px;
}

nav a:hover {
  color: #36a4b0;
}


img.about {
  border-radius: 50%;
  width: 70px;
}

/* ========================= Posts ========================= */

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h1, h2 {
  margin-bottom: 0;
  line-height: 1.3;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
  border-bottom: solid 1px black;
}

.title .details {
  margin-top: 3px;
  color: rgb(0,0,0,0.3);
  font-size: 0.8em;
}

.title .tag {
  margin-left: 5px;
}

.title .details {
  margin-top: 5px;
}


/* ========================= Posts ========================= */

.posts .post + .post {
  margin-top: 50px;
}


/* ========================= Post ========================= */

.post img,
.post video {
  border-radius: 8px;
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .post img {
    max-width: 100%;
  }
  .post video {
    max-width: 100%;
  }
}

.post img + em {
  font-size: 0.8em;
  text-align: center;
  display: block;
  margin-top: 5px;
}

.post blockquote {
  background: #f5f9fa;
  margin: 0;
  padding: 5px 20px;
  border-left: solid 3px #36a4b0;
}

.post hr {
  margin: 60px 0;
}

.post span.light {
  color: rgb(0,0,0,0.3);
}

.post .page-nav {
  display: flex;
  margin-bottom: 50px;
}

.post .page-nav a {
  text-decoration: underline;
}

.post .page-nav-next,
.post .page-nav-prev {
  flex-basis: 0;
  flex-grow: 1;
}

.post .page-nav-next {
  text-align: right;
}


/* ========================= Form ========================= */

form label {
  margin: 5px 0;
  display: block;
}

form input,
form textarea {
  display: block;
  width: 100%;
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

form button {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  background: #36a4b0;
  color: white;
  cursor: pointer;
}

/* ========================= Footer ========================= */

footer {
  margin-top: 50px;
  border-top: solid 1px #f6f8fa;
  text-align: center;
  padding: 30px;
}

footer .links {
  font-size: 2em;
  color: #a0a0a0;
}
  
footer .links a {
  color: inherit;
  text-decoration: none;
}

footer .links a:hover {
  color: #666;
}

footer .links a+a {
  margin-left: 20px;
}

footer .fa-envelope {
  position: relative;
  top: -1px;
}

footer .fa-rss {
  position: relative;
  top: 2px;
}
  
footer .copyright {
  margin-top: 10px;
  font-size: 0.8em;
}

footer .copyright a {
  color: inherit;
}

/* ========================= Anchor Headings ========================= */

a.anchor {
  display: none;
  color: #ddd;
}

a.anchor i.fa {
  transform: scale(0.8);
}

a.anchor:hover {
  border: none;
  color: #ccc;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}
