---
layout: default
---

<div class="post">
  <div class="title">
    <h1>{{ page.title }}</h1>
    <p class="details">
      <span class="date">{{ page.date | date: '%Y-%m-%-d' }}</span>
      {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
    </p>
  </div>
  <div class="markdown">
    {% include anchor_headings.html html=content anchorClass="anchor" anchorBody="<i class='fa fa-link'></i>" %}
  </div>
  <hr>
  <div class="page-nav">
    <div class="page-nav-prev">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; Previous: {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="page-nav-next">
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">Next: {{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>  
</div>

<h2>—告訴我你的想法—</h2>
<br/>

<div class="commentbox"></div>
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script>commentBox('5656929317683200-proj')</script><br/>
<div class="small">
(為了過濾廣告和Spam，留言前要麻煩大家先登入，登入後仍可以選擇匿名發言，如需匿名，請勾選「Anonymous」。如需回覆提醒，請勾選「Email replies」)
</div>

<p>如果不希望留言刊登在這個頁面，也可以利用下方表單，留言將會寄到我的信箱，有任何想法或建議都歡迎在下面留給我知道 謝謝 :) </p>

{% include contact.html %}